<body>
  <h1>Sobre</h1>
  <div id="introduction">
    <h2>Sobre jujutsu</h2>
    <p>The story of <em>Jujutsu Kaisen</em> is set in a world where Cursed Spirits feed on unsuspecting humans and fragments of the legendary and feared demon Ryomen Sukuna have been lost and scattered about.
Should any curse consume Sukuna's body parts, the power they gain could destroy the world as we know it. Fortunately, there exists a mysterious school of Jujutsu Sorcerers who exist to protect the precarious existence of the living from the supernatural! </p>
    <h3>Personagens</h3>
    <ul>
      <li>Yuji Itadori</li> <img src="https://i.redd.it/um8i13dhn7251.jpg" width="180" height="180"/>
      <li>Megumi Fushiguro</li> <img src="https://64.media.tumblr.com/3e4d9f931f83827ba4ad7dba2cd03129/f3bde09b068803fa-b2/s400x600/bb81f912e1509c0537ba76647a3de043748505c4.jpg" width="180" height="180"/>
      <li>Nobara Kugisaki</li> <img src="https://i.redd.it/gdxwq6mqr1w41.jpg" width="180" height="180"/>
      <li>Satoru Gojo</li> <img src= "https://preview.redd.it/xa826e7kyts41.jpg?width=640&crop=smart&auto=webp&s=934001353accca9c7c7dd6ba1763643691bcd68e" width="180" height="180"/>
    </ul>
    <h3>Features</h3>
    <p>Welcome to the Jujutsu Kaisen Wiki, a community created by the fans, for the fans, and is dedicated to housing everything about Jujutsu Kaisen created by Gege Akutami. Our goal is to become the best source of information on the series. Please help us by creating or editing any of our articles! We currently have 34,165 edits to 609 articles and 2,912 images on this wiki.</p>
  </div>
  <div id="synopsis">
    <h2>Sinopse</h2>
    <h3>Setting</h3>
    <p>In Jujutsu Kaisen, all living beings emanate an energy called Cursed Energy,[Jp. 1] which arises from negative emotions that naturally flow throughout the body. Normal people cannot control this flow in their bodies. As a result, they continually lose Cursed Energy, resulting in the birth of Curses,a race of spiritual beings whose primary desire is to bring harm to humanity. These curses are shown as gruesome monsters.Jujutsu Sorcerers are people who control the flow of Cursed Energy in their bodies, allowing them to use it as they please and also to reduce its release. High-ranking Sorcerers and Curses can refine this energy and use it to perform Cursed Techniques,which tend to be unique to the user or their family. An advanced form of Cursed Technique is Domain Expansion,through which the user can use their Cursed Energy to build a pocket dimension that covers the surrounding area within which all attacks will be stronger.</p>
    <h3>Plot</h3>
    <p>Yuji Itadori is an unnaturally fit high school student living in Sendai with his grandfather. He regularly avoids the track team due to the time commitment required for it, despite his innate talent for the sport. Instead, he chooses to join the Occult Research Club; due to the freedom it allows him in attending, he goes to visit his dying grandfather in the hospital every day. On his deathbed, his grandfather instills two powerful messages within Yuji: "always help people" and "die surrounded by people". These two ideas seemingly stem from his grandfather's own regrets. After his grandfather's death, Yuji interprets these messages as one statement: everyone deserves "a proper death". He is then confronted by Megumi Fushiguro, a sorcerer who informs him of a high-grade cursed charm talisman at his school that Yuji recently made contact with. His friends at the Occult Club unsealed the talisman, a rotting finger, which attracted Curses to the school, creatures that are brought about through negative emotions and are strengthened by consuming magical powers present in sorcerers or such charms. Unable to defeat the Curses due to his lack of magical powers, Yuji swallows the finger to protect Megumi and his friends and becomes the host of Ryomen Sukuna, a powerful Curse. Due to Sukuna's evil nature, all sorcerers are required to exorcise him (and by extension, Yuji) immediately. However, despite being possessed, Yuji is still able to retain control over his body for the most part. Seeing this, Satoru Gojo, Megumi's teacher, decides to take him to the Tokyo Prefectural Jujutsu High School to propose a plan to his superiors: postpone Yuji's death sentence until he consumes all of Sukuna's fingers, allowing them to kill Sukuna once and for all.</p>
  </div>
  <div id="media">
    <h2>Media</h2>
    <img src="https://media1.tenor.com/images/c13e7f371b14f93e91808200631b8a81/tenor.gif?itemid=19188408%22/%3E"/>


  </div>
</body>

<%= link_to "Back", root_path %>