<h1>Help page</h1>
<div id="maintance">
    <h1>Page under maintance</h1>

</div>

<img src= "https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/cc19044d-e9ea-4127-8248-20b8255cffce/d1h56v0-51ab4a21-5caa-449d-aa4c-6965c8692a16.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2NjMTkwNDRkLWU5ZWEtNDEyNy04MjQ4LTIwYjgyNTVjZmZjZVwvZDFoNTZ2MC01MWFiNGEyMS01Y2FhLTQ0OWQtYWE0Yy02OTY1Yzg2OTJhMTYuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.x6PuyA0NS3erbCZKIGdR_Nfs73bkurE_Qk0E_lf4DA8">
<p>The story of Jujutsu Kaisen is set in a world where Cursed Spirits feed on unsuspecting humans and fragments of the legendary and feared demon Ryomen Sukuna have been lost and scattered about.
Should any curse consume Sukuna's body parts, the power they gain could destroy the world as we know it.    
Fortunately, there exists a mysterious school of Jujutsu Sorcerers who exist to protect the precarious existence of the living from the supernatural!
</p>

<li><%= link_to "Back", root_path %></li>