<h1>aaHello World</h1>

<table>
    

    <tr>
        <li><%= link_to "Character Page", todos_path %></li>
        <li><%= link_to "Help page", help_path %></li>
        <li><%= link_to "About page", about_path %></li>
    </tr>

</table>