<h1>Jujutsu Kaisen Character World</h1>

<div id="media">
    <img src="https://uploads.jovemnerd.com.br/wp-content/uploads/2021/06/jujutsu-kaisen-pausa-v.jpg"/>
</div>


<table>
    <tr>
        <li><%= link_to "Character Page", todos_path %></li>
        <li><%= link_to "Help page", help_path %></li>
        <li><%= link_to "About page", about_path %></li>
    </tr>

</table>